
html
  head
    title IOTA
    // Bootstrap
    
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/iota.min.js')
    // script(src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js', type='text/javascript')
    script(src='/javascripts/datafile.js')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    

    style.
      body {
        margin : 0;
      }
      #titlediv{
      background-color: #95A4E2;
      height: 200px;
      }
      #mytitle{
      color: white;
      vertical-align : middle;
      padding-top : 4%;
      }
      h1{
      color: red;
      text-align:center;
      }
      h3{
      color: black;
      }
      #seed-tag{
      color: black;
      }
      #seed{
      }
      #address-tag{
      color: black;
      }
      #address{
      }
      #table-name{
      text-align:center;
      color: #2E86C1  ;
      }
      #mythead{
      text-align : center ;
      }
      .button {
        background-color: #95A4E2;
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1px 1px;
        cursor: pointer;
      }
      #myinput{
      text-align:center;
      }
      th{
        background-color: #95A4E2;
      }
      
  body
    #titlediv
      h1#mytitle
        img(src='images/logo-black.png')
        | Welcome to IOTA Webpage
 
    br
    script(type='text/javascript').
        deviceid = "#{deviceid}" ;
    script(type='text/javascript').
        mqttmsg = "#{mqttmsg}" ;
                
    table.table.table-striped.table-bordered#mytable
        thead#mythead
          tr
            th(align='middle') Device Id
            th Msg(trytes) 
            th Status
            th Sent Time
            th Completed Time
            th Tx. Id.